*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
    transition: all 500ms ease-out;
}
@font-face {
    font-family: ProductSans;
    src: url(../../assests/fonts/ProductSansRegular.ttf);
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#mountains_container{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assests/images/LeftBigMountainNight.png), url(../../assests/images/moon.png), url(../../assests/images/LeftSmallMountainNight.png),url(../../assests/images/ShiningSun.png),url(../../assests/images/RightSmallMountainNight.png), url(../../assests/images/RightBigMountainNight.png), url(../../assests/images/space.png);
    background-repeat: no-repeat;
    background-size: 50%,20%,45%,20%,45%,50%,100%;
    background-position: 0vw 30.7vh,0vw 0vh,27.5vw 60vh,47.5vw 70vh,32vw 55vh,50vw 30.5vh,center;
}
#form_container:hover+#mountains_container{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assests/images/LeftBigMountain.png), url(../../assests/images/moon.png), url(../../assests/images/LeftSmallMountain.png),url(../../assests/images/ShiningSun.png),url(../../assests/images/RightSmallMountain.png), url(../../assests/images/RightBigMountain.png), url(../../assests/images/Clearsky.png);
    background-repeat: no-repeat;
    background-size: 50%,25%,45%,20%,45%,50%,100%;
    background-position: 0vw 30.7vh,13vw 50vh,27.5vw 60vh,50vw -10vh,32vw 55vh,50vw 30.5vh,center;
}
#form_container{
    width: 35vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1.5vw);
    position: absolute;
    left: 33vw;
    top: 25vh;
    border-radius: 3vw;
    border: 0.5vw solid white;
    cursor: pointer;
    z-index: 2;
}
#login_heading{
    font-size: 5rem;
    color: white;
}
.input_boxes{
    background: none;
    border: none;
    outline: none;
    font-size: 2.5em;
    border-bottom: 0.25vh solid white;
}
.input_boxes::placeholder{
    color: white;
}
#login_button{
    border: none;
    outline: none;
    width: 13vw;
    font-size: 3rem;
    padding: 0.5vw 0.5vh;
    border-radius: 0.7vw;
    font-weight: bold;
}
#form_container:hover>#login_heading{
    color: black;
    text-shadow: 0vw 0vw 0.5vw white,0vw 0vw 1vw white,0vw 0vw 1.5vw white;
}
#form_container:hover>.input_boxes{
    text-shadow: 0vw 0vw 0.4vw black,0vw 0vw 0.7vw black,0vw 0vw 0.1vw black;
}