*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: ProductSans;
    src: url(../../assests/fonts/ProductSansRegular.ttf);
}
.headings{
    font-size: 100px;
    text-align: center;
    text-indent: 40px;
    line-height: 200px;
}
#core_java_heading{
    color: greenyellow;
    text-shadow: 10px 10px 10px gray,
                 15px 15px 15px gray,
                 20px 20px 20px gray,
                 25px 25px 30px gray,
                 30px 30px 40px gray;
}
#web_development_heading{
    text-shadow: 0px 0px 10px orange,
                 0px 0px 13px orange,
                 0px 0px 16px orange,
                 0px 0px 20px orange,
                 0px 0px 24px orange;
}
#indian_flag_pattern_heading{
    color: white;
    text-shadow: -5px -5px 2px orange,5px 5px 2px green;
};
