*{
    font-size: 30px;
}
h1{
    font-size: 50px;
    color: red;
}
p{
    color: greenyellow;
    background-color: gray;
}
button{
    color: white;
    background-color: darkblue;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}
input{
    outline: none;
    border: 3px solid black;
}
/* id selector */
h1{
    font-size: 50px;
}
#sql_heading{
    color: red;
}
#web_development_heading{
    color: darkblue;
}
#core_java_python_heading{
    width: fit-content;
    color: orange;
    background-color: black;
}
button{
    font-size: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}
#subscribe_button{
    background-color: red;
    border-radius: 30px;
}
#follow_button{
    background-color: royalblue;
    border-radius: 10px;
}
input{
    outline: none;
}
#username_inputbox{
    border: 2px solid red;
}
#password_inputbox{
    border: 2px solid royalblue;
}
.increase_fontsize{
    font-size: 75px;
}
.text_darkblue{
    color: darkblue;
}
.background_lightblue{
    background-color: lightblue;
}
.border_darkblue{
    border: 10px solid darkblue;
}
/* group selector */
#song_details_table_head_first_row{
    color: orange;
    background-color: black;
}
#song_details_table_body{
    text-align: center;
}
#song_details_table_body_first_row,#song_details_table_body_third_row{
    background-color: lightgray;
}
#song_details_table_body_second_row,#song_details_table_body_fourth_row{
    background-color: rgb(red, green, blue);
}
